* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.overall-navi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-wrap ul {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}





.collection {
  border: 1px solid black;
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 60%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
.active {
  color: aqua;
}

.active:active {
  color: aqua;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 5px 20px;
}

ul:nth-child(2n) {
  background-color: rgb(227, 225, 225);
}

.inps {
  width: 80%;
}

button {
  width: 8vw;
  height: 3.3vh;
}

input {
  width: 100%;
  height: 3.5vh;
  text-indent: 5px;
}

form input {
  width: 20vw;
  border: 1px solid black;
  height: 5vh;
}

section {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px 0;
  gap: 5px;
}

input[type="submit"] {
  width: 5vw;
  height: 4vh;
  float: right;
}
